body {
  font-family: Georgia, serif;
  margin: 0;
  padding: 40px;
}

body.home {
  background-image: url("../images/indexbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}


/* Hamilton Theme */
body.hamilton {
  background-color: #1e1e1e;
  color: #f5f5f5;
}

/* Eliza Theme */
body.eliza {
  background-color: #f8f1f4;
  color: #3b2f2f;
}

button {
  padding: 15px 25px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.logo-container {
  text-align: left;
  margin-bottom: 30px;
}

.logo {
  width: 200px; /* adjust size as needed */
  height: auto;
}
