@import url('yourshot.css'); 

html, body {
    height: auto;           /* Allows content to dictate height */
    min-height: 100vh;      /* Ensures it takes at least the full screen */
    overflow-y: auto;       /* Enables vertical scrolling */
    overflow-x: hidden;     /* Keeps it from wiggling left to right */
}

.result-wrapper {
    position: relative;
    text-align: center;
    padding: 100px 5% 200px 5%;
    z-index: 10;
}

.result-title {
    font-family: 'Italianno', cursive;
    font-size: 4rem;
    color: #fff8e1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    margin-bottom: 30px;
}

.result-card {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 40px;
}

.character-display {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    text-align: left;
}

.match-img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    clip-path: inset(0% 10% 0% 0%)
}

.character-info h2 {
    font-size: 2.5rem;
    margin-top: 0;
    color: #8b4513;
}

.character-info p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #2c1e11;
}

.stats-container {
    margin-top: 40px;
    color: #fff8e1;
    margin-bottom: 40px;
}

.stat-label {
    background: rgba(139, 69, 19, 0.6);
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    margin: 10px;
}

.footer-bar {
    position: fixed;         
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;           
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-top: 1px solid #8b4513;
    color: #fff8e1;
    z-index: 100;

    opacity: 0; 
    visibility: hidden; 
    pointer-events: none; 
    transition: opacity 0.5s ease, visibility 0.5s; 
}


.no-transition {
  transition: none !important;
}

.footer-bar.show {
    opacity: 1; 
    visibility: visible; 
    pointer-events: auto; 
}